@model Site.Domain.Entities.ShippingDetails

@{ 
    ViewBag.Title = "Форма заказа";
}
<div style="padding:40px 0; margin: 0 15%">
<h2>Оформить заказ сейчас</h2>
<p>Пожалуйста введи ваши контактные данные, и мы сразу отправим товар!</p>
@Html.ValidationSummary(null, new { @style = "float:none; list-style:disc"})
 </div>

    @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form-horizontal" } ))
    {
        <div style="padding:0 15%; margin-bottom:60px">
            <h3>Данные</h3>
            <div class="form-group">
                <label class="col-sm-2 control-label">Ваше имя:</label>
                <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
            </div>

            <h3>Адрес доставки</h3>
            <div class="form-group">
                <label class="col-sm-2 control-label">Первый адрес:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Line1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Второй адрес:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Line2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Третий адрес:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Line3, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Город:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Страна:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
                </div>
            </div>

            <h3>Опции</h3>
            <div class="checkbox">
                <label>
                    @Html.EditorFor(x => x.GiftWrap)
                    Использовать подарочную упаковку?
                </label>
            </div>

            <div class="text-center">
                <input class="btn btn-primary ce5" type="submit" value="Обработать заказ" />
            </div>
         </div>
    }
